p,
li {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 1px;
}

h1 {
  font-size: 55px;
  text-align: center;
}

#quote {
  font-style: italic;
}

.top {
  font-style: italic;
  color: blueviolet;
}

body {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}
