body {
  background-color: black;
}

h1 {
  color: red;
  font-size: 200px;
  text-align: center;
}

img {
  background-color: red;
  align-self: center;
}

p {
  color: red;
  text-align: center;
}
10006497310