body {
  background-color: black;
}

#heading {
  color: red;
  font-size: 200px;
  text-align: center;
}
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}
.circular {
  border-radius: 100%;
}

img:hover {
  background-color: gold;
}
p {
  color: red;
  text-align: center;
}
